<div *ngIf="timebox" class="container-fluid">
	<div class="jumbotron">
		<h3>Timebox: {{timebox.getHumanReadableText()}}
		<br/>
		<small class="text-muted">Remaining: {{remainingDuration.getHumanReadableText()}}</small>
		</h3>
		
		
		<div class="progress" [class.expired-timebox]="remainingInPercentsValue <= 0">
			<div class="progress-bar"
				[style.height.px]="heightValue"
				[style.background-color]="remainingColor" 
				[style.width]="remainingInPercents">
			</div>
			<h2 *ngIf="remainingInPercentsValue <= 0" class="centered">
				Timebox expired!
			</h2>
		</div> 
	</div>
</div>