
.progress {
	height: 200px;
	position: relative;
	background-color: #f8f9fa;
}
.progress-bar {
	position: absolute;
	bottom: 0px;
}
/* red blinking */
.expired-timebox {
  animation: expired-animation 2s steps(40, start) 20;
  -webkit-animation: expired-animation 2s steps(40, start) 20;
}
@keyframes expired-animation {
  to {
    background-color: red;
	color: white;
  }
}
@-webkit-keyframes expired-animation {
  to {
    background-color: red;
	color: white;
  }
}
.centered {
	margin: auto;
}