<div *ngIf="timebox">
	<div class="w3-container">
		<h2>Timebox: {{timebox.getHumanReadableText()}}</h2>
		
		Remaining: {{remainingDuration.getHumanReadableText()}}
		<div class="w3-light-grey" class="progressbar">
			<div class="progress"
				[style.height.px]="100-remainingInPercentsValue"
				[class.w3-blue]="remainingInPercentsValue > 20" 
				[class.w3-yellow]="remainingInPercentsValue > 5 && remainingInPercentsValue <= 20"
				[class.w3-red]="remainingInPercentsValue <= 5"
				[style.width]="remainingInPercents"></div>
		</div> 
	</div>
</div>
<button (click)="goBack()">Back</button>