
.progress {
	height: 100px;
	position: relative;
}
.progress-bar {
	position: absolute;
	bottom: 0px;
}
/* red blinking */
.expired-timebox {
  animation: expired-animation 2s steps(40, start) infinite;
  -webkit-animation: expired-animation 2s steps(40, start) infinite;
}
@keyframes expired-animation {
  to {
    background-color: red;
	color: light-gray;
  }
}
@-webkit-keyframes expired-animation {
  to {
    background-color: red;
	color: white;
  }
}
.centered {
	margin: auto;
}