

<div class="pb-2">
	<div class="container-fluid">
		<button 
				type="button" 
				class="btn btn-secondary" 
				*ngFor="let timebox of timeboxes" 
				[routerLink]="['/timebox', timebox.asSeconds()]" 
				[class.active]="timebox === selectedTimebox"
		>
			{{timebox.getHumanReadableText()}}
		</button>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			Custom
		</button>
		<button class="btn btn-secondary" aria-label="Close" type="button" routerLink="/" >
			<span aria-hidden="true" class="badge">&times;</span> None
		</button>
		<div class="collapse" id="collapseExample">
			<div class="card card-body">
				not yet implemented
			</div>
		</div>
	</div>
</div>

<!--  [class.selected]="timebox === selectedTimebox" -->
